@import url(//fonts.googleapis.com/css?family=Roboto:100,300,400);
/*@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

a {
  text-decoration: none;
}

#container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /*position: relative;*/
  display: flex;
  flex-flow: column;
}

#nav {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  
  margin: 0;
  padding: 0; 
  background-color: rgba(40,40,40,1.0);
  
  /*border-bottom: 1px solid rgba(100,100,100,1.0);*/
  box-shadow: 0 0px 4px rgba(120, 120, 120, 0.6);
  z-index: 1000;
  
  flex: 0 1 30px;

  /* used to center the logo */
  display: flex; /* flexbox */
  align-items: center; /* flexbox center vertically */
  /*justify-content: center; /* flexbox center horizontally */

  position: absolute;
}

#nav-logo {
  padding: 0;
  margin: 0 0 4px 10%;
}

#nav-logo-img {
  width: 142px;
  height: 32px;
}

/* div */
#search {
  position: absolute;
  
  right: 10%;
  top: 12px;
  bottom: 0;

  margin: 0;
  padding: 0;
}

.nav-search {
  margin: 0;
  padding: 0;

  font-size: 12px;
  font-weight: 300;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
}

.nav-search-bar {
  margin: 0;
  padding: 4px 7px;

  width: 200px;

  /*border: 1px solid #5F9FEA;*/
  border: 1px solid white;
  border-radius: 3px;
  
  /*box-shadow: inset 0px 0px 2px rgba(178, 178, 178, 0.6);*/

  background-color: #fff;
  text-overflow: ellipsis; /* ... */
}

#query-search-bar {

}

#google-search-bar {

}

.nav-button {

}

#query-add-button {
  background: url("../images/plus.png") no-repeat center;
  background-size: 12px 12px;

  margin: 0;
  margin-right: 8px;
  padding: 4px 6px;
  width: 27px;
  
  border: 1px solid #5F9FEA;

  border-radius: 3px;
  background-color: #5F9FEA;
}

#nav-search-button {
  background: url("../images/magnifier.png") no-repeat center;
  background-size: 12px 12px;  

  margin: 0;
  padding: 4px 6px;
  width: 27px;
  
  border: 1px solid #5F9FEA;

  border-radius: 3px;
  background-color: #5F9FEA;
}

#query-add-button:active {
  border: 1px solid #5083C0;
  background-color: #5083C0;
}

#nav-search-button:active {
  border: 1px solid #5083C0;
  background-color: #5083C0;
}

#body-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 50px 0 0 0;
  position: absolute;
}

#grid-container {
  height: 100%;
  width: 30%;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  background-color: rgba(30,30,30,1.0);
}

#map-container {
  height: 100%;
  width: 55%;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  /*overflow: hidden;
  flex: 1 1 auto;*/
}

#remove-all {
  top: 8px;
  left: 0px;
  z-index: 1001;
  position: absolute;


  border: 1px solid #5F9FEA;
  background-color: #5F9FEA;
  border-radius: 2px;
  
  font-weight: 300;
  color: white;
  font-size: 12px;

  margin: 0 4%;
  padding: 4px 6px;

  width: 92%;
}

#remove-all:active {
  background-color: red;
}

#list-container {
  height: 100%;
  width: 15%;
  background-color: rgba(40,40,40,1.0);
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  z-index: 20;
  overflow: hidden;
}

/*The fourth property there -2px is the shadow spread, you can use it to change the spread of the shadow, making it appear that the shadow is on one side only.

This also uses the shadow positioning rules 10px sends it to the right (horizontal offset) and 0px keeps it under the element (vertical offset.)

5px is the blur radius :)*/

#list-container ul {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  /*margin: 33px 0 0 0;*/
}



#list-container ul::-webkit-scrollbar { 
  display: none;
}

#list-container ul li {
  /*height: 65px;
  min-height: 65px;
  max-height: 65px;*/
  list-style-type: none;

  /*background-color: rgba(255,255,255,0.9);*/
  /*padding: 0px;
  margin: 24px 0;*/

  position: relative;
}

#list-container ul .place-li {
  
}

#list-container ul .tw-li {
  /*display: inline-block;*/
  /*position: relative;*/
  /*height: 85px;*/
  min-height: 180px;
  max-height: 180px;
  /*list-style-type: none;*/
}

/*these tweets below relate to tweets shown in list on left*/


.tw-div {
  border: 4px solid;
  /*border-top: 4px solid;
  border-right: 4px solid;
  border-bottom: 4px solid;*/
  border-radius: 7px;
  border-color: rgba(0,0,0,0.8);

  background-color: rgba(255,255,255,0.5);

  /*width: 500px;*/
  /*line-height: 100%;*/
  /*display: block;*/
  margin: 0;
  padding: 0;
  height: 180px;
  width: 180px;
  /*text-align: left;*/
  /*vertical-align: middle;*/
  /*margin: 0 0 0 5px;*/
  /*float: left;*/
  position: relative;
}

.tw-div div {
  /*clear: left;*/
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  /*line-height: 100%;*/
}

.tw-div div a {
  /*width: 100%;*/
  margin: 0;
  padding: 0;
}

.tw-a {
  /*clear: left;*/
  /*width: 100%;*/
  margin: 0;
  padding: 0;
}


.tw-thumbnail-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 180px;

  border-radius: 2px;

  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.tw-thumbnail-img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.tw-thumbnail-a {

}

.tw_profileimage_a {
  
}

.tw_profileimage_img {
  
}

.tw-username-div {
  margin: 0;
  padding: 0;
  /*width: 168px;*/
  background-color: rgba(0,0,0,0.8);
  display: inline-block;
  max-width: 160px;
  position: relative;
  z-index: 900;
}

.tw-username-a {
  /*color: rgba(85, 172, 238, 1.0);*/
  color: white;
  font-weight: 400;
  font-size: 12px;
  font-style: bold;
  text-decoration: none;
}

.tw-username-a:hover {
  /*text-decoration: underline;*/
}

.tw-handle-div {
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
  width: 168px;
  background-color: rgba(0,0,0,0.8);
  display: inline-block;
}

.tw-handle-a {
  /*color: rgba(85, 172, 238, 1.0);*/
  color: white;
  font-weight: 300;
  font-style: bold;
  font-size: 10px;
  text-decoration: none;
}

.tw-handle-a:hover {
  /*text-decoration: underline;*/
}

.tw-text-div {
  font-size: 10px;
  position: absolute;
  /*left: 10px;*/
  bottom: 0px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  width: 180px;
}

.tw-text-a {
  color: white;
  font-weight: 300;
}

.tw-text-a:hover {
  /*text-decoration: underline;*/
}

.tw-external-link-div {
  position: relative;
  top: -8px;
}

.tw-external-link-a {
  font-size: 10px;
  font-weight: 300;
  text-decoration: none;
  color: rgba(0,128,0,0.8);
}

.tw-external-link-a:hover {
  /*text-decoration: underline;*/
  /*color: rgba(0,128,0,0.8);*/
}

.tw-external-link-div:active {
  /*color: rgba(0,128,0,0.8);*/
}

/*#list ul .tw-li .tw-timesince-div {
  color: gray;
}*/

.rating-div {

}



.tw-timesince-div {
  right: 0px;
  bottom: -15px;
  position: absolute;
  /*display: inline-block;*/
  /*vertical-align: bottom;*/
  /*width: 100%;*/
}

.tw-twitter-bird-div {
  /*position: absolute;*/
  /*float: right;*/
  /*margin-left: auto;
  margin-right: 0;*/
  /*text-align: right;*/
  /*bottom: 0;*/
  /*right: 0;*/
}

.tw-twitter-bird {
  /*right: 0;
  position: absolute;
  top: 0;*/
  
  float: left;
  height: 8px;
  /*display: inline-block;*/
  /*vertical-align: top;*/
  
}

.tw-timesince-text {
  font-size: 8px;
  color: gray;
  font-style: italic;
  /*text-align: right;*/
  font-weight: 300;
  /*right: 0;*/
  float: right;
  /*position: relative;*/
}

.term-li {
  /*border-top: 1px solid rgba(255,255,255,1.0);*/
  /*border-right: 1px solid rgba(255,255,255,1.0);*/
  /*border-bottom: 1px solid rgba(255,255,255,1.0);*/

  background-color: rgba(255,255,255,0.6);
  /*border-radius: 0 3px 3px 0;*/
  margin: 4px 0;
  padding: 4px 6px;
  width: 100%;

  /* used to center the logo */
  display: flex; /* flexbox */
  align-items: center; /* flexbox center vertically */

}

/* push the first list item down further so that it shows up below 'remove-all' button */
#list-container ul li:first-child {
  margin: 42px 0 4px 0;
}

.term-div {
  font-weight: 300;
  /*color: #5F9FEA;*/
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis; /* ... */
  /*width: 100px;*/
  display: inline-block;
  

  /*float: left;*/
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.query-dislike-div {

}



.query-dislike-img {
  /*float: right;*/
  
  margin: 0 0 0 auto;
  padding: 0;
  
  
  height: 10px;
}


.query-dislike-img:active {
  background-color: white;
}

.emptyheart {  
  /* if you are going to change height and width, make sure you change the size of the image asset itself */
  height: 14px;
  width: 14px;
  
  position: absolute;
  right: 4px;
  top: 4px;
  background: url('../images/emptyheart.png');
}

.emptyheart:hover {
  background: url('../images/fullheart.png');
}

.outer-span, .outer-span span {
  display: block;
  background: url(../images/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

.outer-span span {
  width: 0px;
  background-position: 0 0;
}

.dollar-container {
  font-size: 14px;
  color: rgba(122, 122, 122, 0.8);
}

.name-div {
  color: #2c3e50;
  font-size: 14px;
}

.add-div {
  color: #7f8c8d;
  font-size: 12px;
}

#map {
  height: 100%;
  width: 100%;
  /*float: left;*/
  z-index: 10;
  /*overflow: hidden;*/
  position: absolute;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

#yelp {
  height: 100%;
  width: 40%;
  float: left;
}

#yelp-header{
  overflow: hidden;
}

#yelp-stars {
  float: left;
}

#yelp-count {
  float: left;
}

.leaflet-marker-icon {
  background: url(https://foursquare.com/img/pin-blue-transparent.png);
  padding: 6px;
  padding-bottom: 17px;
  top: -6px;
  left: -6px;
}

/* styling of infowindow for each tweet */

.gm-style-iw {
  width: 200px !important;
  top: 15px !important; /* move the infowindow 15px down */
  left: 0 !important;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 4px solid rgba(72, 181, 233, 0.0);
  border-radius: 5px 5px 5px 5px; /* make card-like */
  position: relative;
}

/*.iw-container .iw-header {
  padding: 5px 10px 5px 5px;
  background-color: rgba(85, 172, 238, 0.6);
  margin: 0;
}*/

.iw-profile-img {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  border: 2px solid white;
  border-radius: 3px 3px 3px 3px;
  position: absolute;
}

.iw-username-div {
  padding: 0;
  margin: 0;
  color: #5F9FEA;
  overflow: hidden;
}

.iw-username {
  font-weight: 300;
  font-size: 12px;
  color: #5F9FEA;
  overflow: hidden;
}

/* unvisited link */
/*.iw-container .iw-header a:link {*/
.iw-username:link {
    color: #5F9FEA;
    text-decoration: none;
    overflow: hidden;
}

/* visited link */
.iw-username:visited {
    color: #5F9FEA;
    text-decoration: none;
    overflow: hidden;
}

/* mouse over link */
.iw-username:hover {
    color: #5F9FEA;
    text-decoration: none;
    overflow: hidden;
}

/* selected link */
.iw-username:active {
    color: #5F9FEA;
    text-decoration: none;
    overflow: hidden;
}

.iw-username-div {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.iw-handle-div {
  margin: 0;
  padding: 0;
  position: relative;
  top: -1px;
}

.iw-handle {
  font-weight: 100;
  font-size: 10px;
  color: white;
  overflow: hidden;
}

/* unvisited link */
/*.iw-container .iw-header a:link {*/
.iw-handle:link {
  color: white;
  text-decoration: none;
  overflow: hidden;
}

/* visited link */
.iw-handle:visited {
    color: white;
    text-decoration: none;
    overflow: hidden;
}

/* mouse over link */
.iw-handle:hover {
    color: white;
    text-decoration: underline;
    overflow: hidden;
}

/* selected link */
.iw-handle:active {
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.iw-body {
  margin: 4px 0 0;
  padding: 0;
}

.iw-tweet {
  font-weight: 300;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

/* unvisited link */
.iw-tweet a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
.iw-tweet a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
.iw-tweet a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
.iw-tweet a:active {
    color: black;
    text-decoration: none;
}

.iw-external-link {
  font-size: 8px;
  margin: 0;
  padding: 0;
}

/* unvisited link */
.iw-external-link a:link {
  color: rgba(0,128,0,0.8);
}

/* visited link */
.iw-external-link a:visited {
  color: rgba(0,128,0,0.8);
}

/* mouse over link */
.iw-external-link a:hover {
  color: rgba(0,128,0,0.8);
}

/* selected link */
.iw-external-link a:active {
  color: rgba(0,128,0,0.8);
}

.iw-external-img-div {

}

.iw-external-img {
  width: 200px;
  border-radius: 2px 2px 0 0;
}

.iw-time {
  color: gray;
  font-style: italic;
  font-size: 8px;
  float: right;
  margin: 4px 0 0;
  padding: 0;
}

.iw-tw-bird {
  height: 8px;
  float: right;
  margin: 4px 0 0;
}

.iw-ig-camera {
  height: 8px;
  float: right;
  margin: 4px 2px 0; 
}

.iw-bottom-gradient {
    position: absolute;
    width: 175px;
    height: 25px;
    bottom: 10px;
    right: 16px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
 }

.empty-li {
  list-style-type: none;
}

.scroll-bottom-gradient {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0px;
  right: 16px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.iw-body-img-container {
  clear: both;
  margin: 0;
  padding: 0;
}

.iw-body-img {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 0;
  width: 25%;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.iw-body-img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.iw-choices {
  clear: both;
  width: 100%;
  margin: 2px 0 34px;
  padding: 0;
}

.iw-dislike {
  width: 85.5px;
  height: 30px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  float: left;
  
}

.iw-dislike-img {
  margin-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.iw-dislike-img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.iw-like {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 6px; 
}

.iw-like-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  height: 15px;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.iw-like-img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.grid {
  overflow: hidden;
  margin: 0;
  padding: 4px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.grid-sizer,
.grid-item {
  float: left;
  width: 50%;
  /*height: 200px;*/
  /*border: 1px solid rgba(255,255,255,1.0);*/
  padding: 4px;
}

.grid-sizer {
  display: none;
}

.grid-image {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}




@media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {

  #query-add-button {
    background: url("../images/plus@2x.png") no-repeat center;
    background-size: 12px 12px;

    margin: 0;
    margin-right: 8px;
    padding: 4px 6px;
    width: 27px;
    
    border: 1px solid #5F9FEA;

    border-radius: 3px;
    background-color: #5F9FEA;
  }

  #nav-search-button {
    background: url("../images/magnifier@2x.png") no-repeat center;
    background-size: 12px 12px;  

    margin: 0;
    padding: 4px 6px;
    width: 27px;
    
    border: 1px solid #5F9FEA;

    border-radius: 3px;
    background-color: #5F9FEA;
  }

}










/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #query-add-button,
    #nav-search-button
    {
      visibility: hidden;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    #query-add-button,
    #nav-search-button
    {
      visibility: hidden;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    #query-add-button,
    #nav-search-button
    {
      visibility: hidden;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #nav {

    }

    #query-search-bar,
    #google-search-bar {

    }

    #query-add-button,
    #nav-search-button {
      visibility: hidden;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}








/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}






/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}